
@media (min-width: 1024px) {
    .container {
        width: 90%;
        position: relative;
        left: 70px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 90%;
        position: relative;
        left: 70px;
    }
}